<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.cdt.example.toolchain"
         name="Example Tool Chain"
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <projectType
            id="example.toolchain.executabl"
            isAbstract="false"
            name="Example Executable">
         <configuration
               cleanCommand="rm –f"
               id="example.toolchain.configuration.release"
               name="Test Release">
         </configuration>
      </projectType>
   </extension>

</plugin>
