<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/barchart-udt4/src/test/java/com/barchart/udt/MainRunServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.barchart.udt.MainRunServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="barchart-udt4"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dudt.bind.address=0.0.0.0&#10;-Dudt.local.port=10100&#10;-Dudt.count.monitor=1000"/>
</launchConfiguration>
